.archiveItemGroup {
    background: #04AEDA;
}

.archiveItemGroup img {
    float: left;
    width: 64pt;
    height: 64pt;
}

.archiveItemGroup div {
    margin-left: 68pt;
    color: white;
}

.archiveThumbnail {
    /*width: 400px;
    height: 300px;*/
    margin-bottom: 24pt;
}
